html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* Genel stil */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Menü stili */
.navbar {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    background-color: #333;
    padding: 10px;
}

    .navbar a {
        color: white;
        text-decoration: none;
        margin-right: 15px;
    }

        .navbar a:hover {
            text-decoration: underline;
        }

/* Tablo stili */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}